body{
    background-color: #13131F;
    font-family: "Arial";
}

#sobreMim{
    text-align: center;
    width: 55%;
    line-height: 150%;
    margin: 0 auto;
}

#projetos{
    text-align: center;
    font-size: 30px;
}

.vitrine{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.item{
    margin: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    text-align: center;
    width: 450px;
}

.item img{
    width: 100%; /* Ajusta a largura para 100% do contêiner .item */
    height: auto; 
}

#contato{
    color: white;
    text-align: center;
}

#titleContato{
    font-size: 30px;
}

#contatos{
    padding: 0px 50px 0px 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.icon {
    margin-right: 70px; 
    text-align: center;
}

.icon a p{
    line-height: 0.1;
    color: gray;
    font-size: 15px;
}

.icon .title{
    color: white;
    font-size: 20px;
}

.icon img{
    width: 50px;
    height: 50px;
    border: 200px;
    border-radius: 50%;
    border: 2px solid white;
}
